<div class="home">

  <!-- HERO -->
  <div class="hero">
    <h1>Tech Store</h1>
    <p>Dark-first experience • Premium products</p>
  </div>

  <!-- LOADING -->
  <div class="loading" *ngIf="loading">
    Loading products...
  </div>

  <!-- GRID -->
  <div class="grid" *ngIf="!loading">

    <div class="card" *ngFor="let p of products" (click)="goToDetail(p.product_id)">

      <div class="badge">NEW</div>

      <h3 class="title">{{ p.name }}</h3>

      <p class="desc">{{ p.description }}</p>

      <div class="price">
        {{ formatPrice(p.price) }}
      </div>

      <div class="stock">
        Stock: {{ p.stockQuantity }}
      </div>

      <button class="btn">
        Buy now
      </button>

    </div>

  </div>

</div>